.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
  position: absolute;
  width: 75vw;
  height: 58px;
  left: 12.5vw;
  top: 0px;
  background: #343a40;
  border-radius: 6px;
}

.App-link {
  color: #61dafb;
}

#Navbar {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: White;
}

p {
  margin: 0px;
  margin-bottom: 6px;
}

.container {
  min-height: 100vh;
  background-color: #16202a;
  display: flex;
}

#home {
  padding: 20px 45px 23px 36px;
}

#homeContainer {
  flex-direction: column;
  margin-top: 280px;
  text-align: left;
}

#profile {
  padding: 20px 23px;
}

#profileContainer {
  flex-direction: column;
  margin-top: 265px;
  text-align: left;
}

#userNameInput {
  width: 50vw;
  height: 45px;
  background-color: #16202a;
  color: white;
  font-size: 30px;
  text-align: center;
}

#userNameButton {
  margin-top: 16px;
  float: right;
  width: 68px;
  height: 34px;
  border-radius: 4px;
  fill: Solid;
  background-color: #007bff;
}

#tweetInput{
  width: 50vw;
  height: 100px;
  background-color: #16202a;
  color: white;
  font-size: 15px;
  text-align: left;
  resize: none;
 }

#tweetButton {
  margin-top: 16px;
  float: right;
  width: 68px;
  height: 34px;
  border-radius: 4px;
  fill: Solid;
  background-color: #007bff;
}
