.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
  position: absolute;
  width: 75vw;
  height: 58px;
  left: 12.5vw;
  top: 0px;
  background: #343a40;
  border-radius: 6px;
}

.App-link {
  color: #61dafb;
}

#Navbar {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: White;
}

p {
  margin: 0px;
  margin-bottom: 6px;
}

.container {
  min-height: 100vh;
  background-color: #16202a;
  display: flex;
}

#home {
  padding: 20px 45px 23px 36px;
}

#homeContainer {
  flex-direction: column;
  margin-top: 170px;
  text-align: left;
}

#profile {
  padding: 20px 23px;
}

#profileContainer {
  flex-direction: column;
  margin-top: 265px;
  text-align: left;
}

#userNameInput {
  width: 50vw;
  height: 45px;
  background-color: #16202a;
  color: white;
  font-size: 30px;
  text-align: center;
}

#userNameButton {
  margin-top: 16px;
  float: right;
  width: 68px;
  height: 34px;
  border-radius: 4px;
  fill: Solid;
  background-color: #007bff;
}

#tweetInput{
  display: block;
  position: absolute;
  width: 50vw;
  height: 100px;
  background-color: #16202a;
  color: white;
  font-size: 15px;
  text-align: left;
  resize: none;
  
 }

#tweetButton {
  margin-top: 66px;
  right: 1px;
  position: absolute;
  width: 68px;
  height: 34px;
  border-radius: 4px;
  fill: Solid;
  background-color: #007bff;
  z-index: 1;
}

#newTweetContainer {
  display: block;
  width: 49vw;
  height: 60vh;
  background-color:#343a40 ;
  border-radius: 6px;
  padding:1vw
  
}

#tweetList{
  display: block;
  position: absolute;
  margin-top: 150px;
}

#timeStamp{
  margin-left: 235px;
  font-size: 12px;
  color:lightslategrey ;
}

#tweetOutput{
  margin-top: 5px;
  
}